/*---------------------All Products Page---------------------*/

.iconCart {
    position: absolute;
    right: 200px;
    z-index: 1;
}

    .iconCart .totalQuantity {
        position: absolute;
        bottom: 20px;
        left: 15px;
        font-size: 18px;
        background-color: red;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        color: white;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(10px);
    }

/*overflow--x:-hidden;*/
.containerProduct {
    font-family: monospace;
    font-size: 15px;
    width: 1200px;
    margin: auto;
    max-width: 90%;
    transition: transform 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listProduct {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
}

    .listProduct .item img {
        width: 300px;
        height: 350px;
        margin-bottom: 15px;
    }

    .listProduct .item h2 {
        font-weight: 800;
        font-size: 25px;
        text-align-last: center;
    }

    .listProduct .item .price {
        font-size: 20px;
        text-align-last: center;
    }

    .listProduct .item {
        position: relative;
    }

        .listProduct .item button {
            position: absolute;
            top: 50%;
            left: 50%;
            background-color: darkorange;
            width: 50%;
            border: none;
            padding: 10px 20px;
            box-shadow: 0 10px 50px deepskyblue;
            cursor: pointer;
            transform: translateX(-50%) translateY(100px);
            opacity: 0;
            border-radius: 20px;
        }

        .listProduct .item:hover button {
            transition: 0.8s;
            opacity: 1;
            transform: translateX(-50%)
        }



/* -------------------------------------Shopping Cart Page------------------------------------------------ */
.containerShopCart .emptyCart {
    text-align-last: center;
    font-size: 40px;
    font-weight: bold;
}

    .containerShopCart .emptyCart a {
        color: magenta;
        text-decoration: none;
    }

        .containerShopCart .emptyCart a:hover {
            text-decoration: underline;
        }

.returnCart a {
    margin-left: 40%;
    text-decoration: none;
    color: red;
}

.returnCart h1 {
    border-top: 1px solid white;
    padding: 20px 0;
    text-align-last: center;
    border-top: none;
}

.checkoutLayout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 20px;
}

.returnCart .infoTableCart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding: 20px 90px 20px 90px;
    background-color: deepskyblue;
    box-shadow: 0 10px 30px skyblue;
    border-radius: 40px;
}

.returnCart .item {
    /*        display: flex;*/
    align-items: center;
    justify-content: space-between;
    display: grid;
    grid-template-columns: 80px 110px 0px 160px 1fr 40px;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
    padding: 0 10px;
    box-shadow: 0 10px 90px skyblue;
    border-radius: 10px;
}

    .returnCart .item .name {
        font-size: 20px;
        font-weight: bold;
    }

    .returnCart .item .returnPrice {
        font-size: 15px;
    }

    .returnCart .item .quantity {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 0 0 70px;
    }

.checkoutLayout .list img {
    width: 60px;
    height: 60px;
}


/*-------------Right-------------*/
.checkoutLayout .right {
    background-color: deepskyblue;
    border-radius: 40px;
    padding: 40px;
    color: white;
}

    .checkoutLayout .right p {
        font-size: 20px;
        color: red;
    }

    .checkoutLayout .right h1 {
        text-align: center;
    }


    .checkoutLayout .right .priceDelivery {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: -90px;
        margin-bottom: 10px;
    }

        .checkoutLayout .right .priceDelivery .priceSubtotal,
        .checkoutLayout .right .priceDelivery .delivery {
            font-weight: bold;
            font-size: x-large;
        }

.checkoutLayout .return {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

    .checkoutLayout .return .totalQuantity,
    .checkoutLayout .return .totalPrice {
        font-weight: bold;
        font-size: x-large;
    }

.buttonPayment {
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    background-color: blueviolet;
}

    .buttonPayment:hover {
        background-color: rebeccapurple;
    }


/* -------------------------------------Payment Page------------------------------------------------ */

.formPayment h1 {
    text-align-last: center;
}

.deliveryDetails {
    background-color: deepskyblue;
    border-radius: 40px;
    padding: 40px;
    color: white;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
    /*        gap: 20px;*/

    .deliveryDetails .staticInfo {
        display: flex;
        align-self: center;
        justify-content: space-between;
        margin-right: 50px;
    }

        .deliveryDetails .staticInfo .discountCode {
            font-size: 16px;
            color: red;
        }

        .deliveryDetails .staticInfo
        .paymentFirstName,
        .paymentLastName,
        .paymentTotalPrice {
            font-weight: bold;
            font-size: x-large;
        }

    .deliveryDetails .paymentTotalPrice {
        text-decoration: underline;
    }

    .deliveryDetails .staticInfo .discountPrice {
        font-size: 24px;
        color: red;
    }

    .deliveryDetails .form-group {
        padding-bottom: 20px;
    }

    .deliveryDetails .promoCode {
        display: flex;
        align-items: center;
    }

        .deliveryDetails .promoCode .buttonApply {
            width: 60px;
            height: 40px;
            border: none;
            border-radius: 10px;
            margin-right: 20px;
            color: white;
            background-color: orangered;
        }

            .deliveryDetails .promoCode .buttonApply:hover {
                background-color: red;
            }

    .deliveryDetails .buttonBuy {
        float: right;
        font-size: 25px;
        width: 140px;
        height: 60px;
        border: none;
        border-radius: 20px;
        color: white;
        background-color: forestgreen;
    }

        .deliveryDetails .buttonBuy:hover {
            background-color: darkgreen;
        }

.formPayment a {
    position: absolute;
    text-decoration: none;
    font-size: 20px;
    border-radius: 20px;
    margin: -90px 0px 0px 35px;
    padding: 15px 25px 15px 25px;
    color: white;
    background-color: blueviolet;
}

    .formPayment a:hover {
        background-color: rebeccapurple;
    }
