/*html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 50px;
}*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    z-index: -2;
    transition: 0.5s;
}

    .showcase.active {
        right: 300px;
    }

    .showcase header {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 40px 100px;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


.logo {
    width: 35px;
    height: 35px;
}

.toggle {
    position: relative;
    width: 60px;
    height: 60px;
    /*    background: url('/logos/MegaCarsLogo.png');*/
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    cursor: pointer;
}

    .toggle.active {
        /*        background: url('/logos/MegaCarsLogo.png');*/
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;
    }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.text {
    color: white;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
    position: relative;
    z-index: 10;
}

    .text h2 {
        font-size: 5em;
        font-weight: 800;
        line-height: 1em;
        text-transform: uppercase;
    }

    .text h3 {
        font-size: 3em;
        font-weight: 700;
        line-height: 1em;
        text-transform: uppercase;
    }

    .text p {
        font-size: 2em;
        margin: 20px 0;
        font-weight: 400;
        max-width: 700px;
    }

    .text a {
        display: inline-block;
        font-size: 1em;
        background: white;
        padding: 5px 20px;
        text-decoration: none;
        color: black;
        margin-top: 10px;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: 0.5s;
    }

        .text a:hover {
            letter-spacing: 6px;
        }

.social {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .social li {
        list-style: none;
    }

        .social li a {
            display: inline-block;
            margin-right: 20px;
            transform: scale(0.5);
            transition: 0.5s;
        }

        .social li img {
            width: 70px;
            height: 70px;
        }

        .social li a:hover {
            transform: scale(0.5) translateY(-15px);
        }

.menu {
    display: none;
}

    .menu.active {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 300px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: fade_in_show 1s
    }

        .menu.active ul {
            position: relative;
            list-style: none;
        }

            .menu.active ul li a {
                text-decoration: none;
                font-size: 24px;
                color: black;
            }

                .menu.active ul li a:hover {
                    color: deepskyblue;
                }

            .menu.active ul li form button {
                font-size: 24px;
                background-color: transparent;
                color: red;
                border: none;
                padding: 15px 0px 0px 0px;
            }

                .menu.active ul li form button:hover {
                    text-decoration: underline;
                }


@keyframes fade_in_show {
    0% {
        opacity: 0;
        transform: scale(0)
    }

    100% {
        opacity: 1;
        transform: scale(1)
    }
}

@media(max-width: 798px) {
    .showcase,
    .showcase header {
        padding: 40px;
    }

    .text h2 {
        font-size: 3em;
    }

    .text h3 {
        font-size: 2em;
    }
}
