@using Microsoft.AspNetCore.Identity

@using MegaCarsSystem.Data.Models;
@using MegaCarsSystem.Services.Data.Interfaces;
@using MegaCarsSystem.Web.Infrastructure.Extensions;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IUserService UserService

@inject IDealerService DealerService

@{
    bool isUserDealer = await DealerService.DealerExistsByUserIdAsync(this.User.GetId()!);
    string userFullName = await UserService.GetFullNameByEmailAsync(User.Identity?.Name!);
}

@*<ul class="navbar-nav">*@

@if (SignInManager.IsSignedIn(User))
{

    <li>
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello, @userFullName</a>
    </li>
    if (!isUserDealer)
    {
        <li>
            <a asp-controller="Dealer" asp-action="Become">Become Dealer</a>
        </li>
    }
    <li>
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" @*class="nav-link btn btn-link"*@>Logout</button>
        </form>
    </li>
}
else
{
    <li>
        <a asp-area="" asp-controller="User" asp-action="Register">Register</a>
    </li>
    <li>
        <a asp-area="" asp-controller="User" asp-action="Login">Login</a>
    </li>
}
@*</ul>*@