@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@inject IDealerService DealerService
@inject IUserService UserService

@{
    bool isUserDealer = await DealerService.DealerExistsByUserIdAsync(this.User.GetId()!);
    string userFullName = await UserService.GetFullNameByIdAsync(this.User.GetId()!);
}

@if (SignInManager.IsSignedIn(User))
{

    <li>
        <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello, @userFullName</a>
    </li>
    if (!isUserDealer)
    {
        <li>
            <a asp-controller="Dealer" asp-action="Become">Wanna be partner?</a>
        </li>
    }
    <li>
        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit">Logout</button>
        </form>
    </li>
}
else
{
    <li>
        <a asp-area="" asp-controller="User" asp-action="Login">Login</a>
    </li>
    <li>
        <a asp-area="" asp-controller="User" asp-action="Register">Register</a>
    </li>
}