<title>Error 401 - Unauthorized</title>

<body>
    <div class="error-container">
        <h1>Error 401 - Unauthorized</h1>
        <p>Oops! You are not authorized to access this page.</p>
        <p>Please make sure you have the proper credentials or permissions to view this content.</p>
        <p>If you believe this is an error, please contact the administrator.</p>
        <a href="/">Back to Home</a>
    </div>
</body>