@{
    ViewBag.Title = "Home Page";
}

<video id="videoPlayer" autoplay muted plays-inline>
    <source src="/videos/video1.mp4" type="video/mp4">
</video>

<div class="overlay"></div>

<div class="text">
    <h2>Never Stop</h2>
    <h3>Exploring The Cars</h3>
    <p>(Other information for car)</p>
    <a href="#">Explore</a>
</div>



@*<div class="mb-5"></div>

<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn-primary" id="statistics_btn">Show Statistics</button>
    </div>
</div>

<div class="mt-4 p-5 bg-light d-none" id="statistics_box">
    <div class="row">
        <h2 class="col-md-6 text-center" id="total_cars"></h2>
        <h2 class="col-md-6 text-center" id="total_rents"></h2>
    </div>
</div>

@section Scripts
    {
    <script>statistics();</script>
}*@